<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopify Developer challenge question</title>
</head>
<body>
    <div>
            <h1>Shopify Winter 2019 Developer Intern Challenge Question.</h1>
            <h2>Author: Franndy Abreu.</h2>
            <h3>The database (POSTGRESQL) has been popullated with 1 Shop: Greenville, 2 Products: Carton of Milk, Loaf of bread. You can buy, update, and delete the products, as well as generate orders and update them. </h3>
            <h3>You can find the documentation and the source code of this project <a href="https://github.com/franndyabreu/store-api" target="_blank">HERE</a></h3>
        </div>
</body>
</html>